﻿<div class="col-md-3">
</div>
<div class="col-md-6" ng-init="loadAll()">

    <div ng-repeat="tpu in tipos_usuarios | orderBy:'descricao' ">
        <div class="panel panel-primary">
            <div class="panel-body">
                {{tpu.descricao}}
            </div>
            <div class="panel-footer">
                <a href="#/tipo_usuarios/{{tpu.id_tipo_usuario}}"><button class="btn btn-primary" ng-click="loadOne(tpu)">Editar</button></a>
                <button class="btn btn-danger" ng-click="deleteOne(tpu.id_tipo_usuario)">Exlcuir</button>
            </div>
        </div>
    </div>

</div>

<div class="col-md-3">
     <a href="#/tipo_usuarios/novo"><button class="btn btn-lg btn-primary" >Novo</button></a>
</div>

