﻿<div ng-init="loadOne()" >

    <div class="row">
        <div class="text-center">

            <h3 class="titulo-azul">Eleições 2016 - {{tipo_usuario.descricao}} </h3>
            <h4><span><strong>Editar tipo</strong></span></h4>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-4">
        </div>
        <div class="col-lg-4">

            <form class="container-fluid">
                <div class="form-group">
                     <label for="descricao" class="col-xs-12 col-form-label">Tipo de Usuário</label>
                    <input type="text" id="descricao" class="form-control" ng-model="tipo_usuario.descricao" value="{{tipo_usuario.descricao}}">
                    <input type="hidden" class="form-control" ng-model="tipo_usuario.id_tipo_usuario" value="{{tipo_usuario.descricao}}">
                    
                </div>

                <button type="button" ng-click="saveRegister(tipo_usuario)" class="btn btn-default">Salvar <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>

            </form>

        </div>

    </div>

</div>

