﻿<div id="linha-cabecalho-pagina" class="row">
    <nav class="navbar ">
        @*navbar-inverse *@
        <div class="container col-md-10">
            <div class="navbar-header">

                <img id="logo_principal" class="pull-left" style="display: none" src="~/img/logo-1-PSDB.PNG" />

            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <div class="pull-right">
                    <p class="altura-6"></p>
                    <span id="nome_usuario_logado"></span>
                </div>

            </div>
        </div>

        <div id="div-botao-sair" class="col-md-2 pull-right" style="display: none">

            <a href="#/login">
                <img src="~/img/sair - PSDB.PNG" alt="Botão Sair Sistema" title="Clique aqui para logar com outro usuário" />
            </a>
        </div>
    </nav>


</div>



<div id="div-mae" class="col-lg-12">

    <div  id="linha-meio-pagina" class="row">
        <div id="DIV-ROTEADORA" ng-view></div>
    </div>
</div>
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/jquery-cookie.js"></script>
<script src="~/js/myJs.js"></script>
<script src="~/js/angular.js"></script>
<script src="~/js/angular-route.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/app.js"></script>
<script src="../js/pesquisa/pesquisa_controller.js"></script>
<script src="../js/usuario/usuario_controller.js"></script>
<script src="~/js/tipo_usuario/tipo_usuario_controller.js"></script>
<script src="~/js/tipo_usuario/tipo_usuario_service.js"></script>


<script type="text/javascript">
    $(function () {

        SairDoDistema(false);
    });

</script>

