﻿<div class="row">

    <p class="altura-200">a</p>

</div>
<div class="col-md-4">

</div> 

<div class="col-md-4  center-block">

       
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">Primeiro acesso - Altere sua senha</h3>
        </div>
        <div class="panel-body">
            
            <form class="form form-inline" action="/#" method="post">
                
                <div class="form-group">
                   
                    <br />
                    <br />

                    <label for="nova_senha">Nova Senha</label> <br />
                    <input type="password" class="form-control input-lg" id="nova_senha" name="nova_senha" value="" placeholder="Nova Senha" />
                   
                     <br />
                    <br />

                    <label for="confirmacao_nova_senha">Confirme a senha</label> <br />
                    <input type="password" class="form-control input-lg" id="confirmacao_nova_senha" name="confirmacao_nova_senha" value="" placeholder="confirmação de senha" />

                    <br />
                    <br />
                    <br />
                    <button id="btn-salvar-senha-nova" type="button" class="btn-default btn-lg">Salvar nova senha</button>
                </div>
            </form>

        </div>
    </div>

    <div id="erro-campo" class="alert-danger" style="display:none">XXXXXX</div>

</div>


<script src="../js/login/altera_senha.js"></script>
