﻿<div id="linha-cabecalho-pagina" class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-6">

         <a href="#/pesquisas"><img class="img-circle" src="../img/img-pesquisas.PNG" /></a>

         <a href="#/usuarios"> <img class="img-circle" src="../img/img-usuarios.PNG" /></a>

        <a href="#/tipo_usuarios">Tipos de Usuário</a>
    </div>
    
    <div class="col-md-2">

    </div>

</div>
<script src="../../js/pesquisa/pesquisa.js"></script>
