﻿<!DOCTYPE html>
<html ng-app="ws_app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/css/bootstrap.css.map" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/mycss.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    @* @Scripts.Render("~/bundles/jquery")*@
    @* @RenderSection("scripts", required: false)*@
</body>
</html>
