﻿<div class="col-md-1">
</div>
<div class="col-md-10" ng-init="loadAll()">
    <div class="col-md-4">
        <div class="form-group">
            <label for="login">Usuário</label><br>
            <input type="text" size="20" class="form-control" ng-model="login" id="login" name="login" value="" placeholder="Usuário" />
        </div>
        <div class="form-group ">
            <label for="nome">Nome</label><br>
            <input type="text" size="20" class="form-control" ng-model="nome" id="nome" name="nome" value="" placeholder="Nome" />
        </div>
    </div>
    <label for="tipo">Tipo de Usuário</label><br>
    <select id="tipo" ng-model="tipo">
        <option value="val1">Tipo1</option>
        <option value="val2">A Tipo2</option>
        <option value="val3">Tipo3</option>
    </select>
    <br />
    <br />
    <a id="btn-novo-usuario" href="#/novo_usuario" class="btn btn-primary">Novo</a>
    <a id="btn-pesquisar-usuario" href="#/" ng-click="listarEspecificos()" class="btn btn-primary">Pesquisar</a>
    <a id="btn-limpar-campos" href="/" ng-click="limparCampos()" class="btn btn-primary">Limpar</a>
    <br />
    <br />
    <table id="tabela_usuarios" class="table table-bordered table-hover table-striped">
        <thead>
            <th>Usuário</th>
            <th>Nome Completo</th>
            <th>Tipo</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr class="text-center" ng-repeat="usuario in usuarios | startFrom:paginaAtual*tamanhoPagina| limitTo:tamanhoPagina">

                <td>{{usuario.login}}</td>
                <td>{{usuario.nome}}</td>
                <td><span class="tipo_{{usuario.id_tipo_usuario}}">{{usuario.id_tipo_usuario}}</span></td>
                <td><a href="#/usuario/{{usuario.id_usuario }}">
                    <img src="../img/detalhes.PNG" /></a> </td>

                <td><a href="#/usuario_editar/{{usuario.id_usuario }}">
                    <img src="../img/editar.PNG" /></a> </td>

                <td><a href="#/usuario_excluir/{{usuario.id_usuario }}">
                    <img src="../img/excluir.PNG" /></a> </td>

            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="paginaAtual=paginaAtual-1" ng-disabled="paginaAtual==0">Anterior</button>
    <button class="btn btn-primary pull-right" ng-click="paginaAtual=paginaAtual+1" ng-disabled="paginaAtual >= usuarios.length/tamanhoPagina-1">Proximo</button>
</div>

<div class="col-md-1">
</div>
<script type="text/javascript" src="../../js/usuario/listagem_usuario.js"></script>
