﻿<div class="row">
    <div class="text-center">

        <h3 class="titulo-azul">Eleições 2016 {{usuario.nome}} </h3>
        <h4><span>Cadastro e edição de usuários</span></h4>
    </div>
</div>

<div class="row ">
    <div class="col-md-2">
    </div>

    <div id="div-formulario-usuario" class="col-md-8">
        <div class="jumbotron">

            <form id="form_usuario" name="form_usuario" class="form form-inline" action="/#" method="post">

                <div class="row">
                    <div id="A1" class="col-md-10">
                        <div class="col-md-2">
                        </div>
                        <div class="form-group ">
                        <label for="nome">Nome</label><br>                         
                        <input type="text" size="20" class="form-control" ng-model="usuario.nome" id="nome" name="nome" value="{{usuario.nome}}" placeholder="Nome" />
                        </div>
                      
                        <div class="form-group pull-right">
                        <label for="login">Usuário</label><br> 
                        <input type="text" size="20" class="form-control" ng-model="usuario.login" id="login" name="login" value="{{usuario.login}}" placeholder="Usuário" />
                        </div>

                        <br/>
                        <br/>
                        <div class="col-md-2">
                        </div>
                         <div class="form-group">
                        <label for="senha">Senha Inicial</label><br> 
                        <input type="password" class="form-control" ng-model="usuario.senha" id="senha" name="senha" value="{{usuario.senha}}" placeholder="Senha Inicial" />
                        </div>

                        <div class="form-group pull-right">
                        <label for="confirmacao_senha">Confirmação Senha</label><br> 
                        <input type="password" class="form-control"  id="confirmacao_senha" name="confirmacao_senha"  placeholder="Confirmação da senha" />
                        </div>

                        <br />
                        <br />

                        <div class="col-md-2">
                        </div>                                      
                        <div class="col-md-6">
                            <button id="btn-salva-usuario" type="button" class="btn btn-default pull-right">Salvar Usuário</button>                                 
                        </div> 
                      <div id="div-permissoes" class="row col-md-12">                         
                        
                        <label for="tipo">Tipo de Usuário</label>
                        <select id="tipo">
                            <option value="val1">Tipo1</option>
                            <option value="val2">A Tipo2</option>
                            <option value="val3">Tipo3</option>
                        </select>  
                        <br />  
                        <br />
                        <h4 class="titulo-azul col-md-12">Permissões</h4><br/>    
                        <br />  
                        <br />
                        <ul id="lista_permissoes" class="center-block col-md-5"> 
                            <li class="list-group list-group-item"> <span><strong> Permissão 1</strong></span><br /></li>
                            <li class="list-group list-group-item"> Permissão 2<br /></li>
                        </ul>                                           
                       
                      </div>                         
                        <br />
                        <br />       

                    </div> 
                   
                </div>

                <input id="id_usuario" type="hidden" ng-model="usuario.id_usuario" value="{{usuario.id_usuario}}" />
            </form>

        </div>
    </div>

    <div class="col-md-2">
    </div>
</div>

<script type="text/javascript" src="../../js/usuario/usuario.js"></script>